@page
@model SparkAuto.Pages.Services.InvoiceModel
@{
    Layout = null;
    ViewData["Title"] = "Invoice";
}

<link rel="stylesheet" href="~/css/theme.css">

<head>
    <style>
        #invoice{
            max-width: 800px;
            margin: auto;
            padding: 16px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-container{
            border: 1px solid #ccc;
            padding: 32px;
        }
        
    </style>
</head>
<div class="d-flex justify-content-center py-4">
    <button type="button" id="btnprintpdf" class="btn btn-dark rounded-pill">Print Invoice</button>
</div>
<div id="invoice" class="bg-white">
    <div class="invoice-container">
        <div class="row">
            <div class="col">
                <img src="~/images/logo.webp" style="width:100%; max-width:300px;">
            </div>
            <div class="col">
                <p class="m-0 text-right"> @(Model.serviceHeader.DateAdded.ToString("dddd, dd MMMM yyyy")) </p>
                <p class="m-0 text-right"> Order Id: <b>#@(Model.serviceHeader.Id)</b> </p>
                <input type="hidden" value="@Model.serviceHeader.Id" id="orderid">
            </div>
        </div>
        
        <table class="my-4">
            <tr>
                <td><b>221 Westney Road South Ajax ON L1S 2C9</b></td>
            </tr>
            <tr>
                <td>Telephone: (289) 600-6524</td>
            </tr>
        </table>
        <table class="table table-bordered table-sm">
            <tr>
                <th colspan="2">Vehicle Information</th>
            </tr>
            <tr>
                <th>Year:</th>
                <td>@Model.serviceHeader.Car.Year</td>
            </tr>
            <tr>
                <th>Make:</th>
                <td>@Model.serviceHeader.Car.Make</td>
            </tr>
            <tr>
                <th>Model:</th>
                <td>@Model.serviceHeader.Car.Model</td>
            </tr>
            <tr>
                <th>Plate:</th>
                <td>@Model.serviceHeader.Car.VIN</td>
            </tr>
            <tr>
                <th>Odometer:</th>
                <td>@Model.serviceHeader.Car.Miles km</td>
            </tr>
        </table>

        <table class="table table-bordered table-sm mt-4">
            <tr>
                <th colspan="4">Work Information</th>
            </tr>
            <tr>
                <th>Service Type</th>
                <th>Quantity</th>
                <th>Service Price</th>
                <th>Service Total</th>
            </tr>

            @foreach (var service in Model.serviceDetails)
            {
                <tr>
                    <td>@service.ServiceName </td>
                    <td>@service.Quantity</td>
                    <td>@(String.Format("${0:0.00}",service.ServicePrice))</td>
                    <td>@(String.Format("${0:0.00}",service.ServicePrice * service.Quantity))</td>
                </tr>
            }

            
            <tr>
                <td colspan="3">Sub-Total:</td>
                <th colspan="1">@(String.Format("${0:0.00}",Model.serviceHeader.TotalPrice))</th>
            </tr>
            <tr>
                <td colspan="3">Taxes:</td>
                <th colspan="1">@(String.Format("${0:0.00}",Model.serviceHeader.Tax))</th>
            </tr>
            <tr>
                <td colspan="3">Env Charge:</td>
                <th colspan="1">@(String.Format("${0:0.00}",Model.serviceHeader.EnvCharge))</th>
            </tr>
            <tr class="bg-success-soft">
                <td colspan="3">Full Price:</td>
                <th colspan="1">@(String.Format("${0:0.00}",Model.serviceHeader.FullPrice))</th>
            </tr>

        </table>

        <p class="mt-5">Thank you for shopping today. We look forward to seeing you again</p>
        
    </div>
</div>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script type="text/javascript">
    $("#btnprintpdf").on("click",function(){
        const factura = document.getElementById("invoice");
        var opt = {
            margin: 0,
            image: { type: 'jpeg', quality: 1 },
            html2canvas:  { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
            filename: 'invoice-' + $("#orderid").val() + ".pdf"
        };
        html2pdf().set(opt).from(factura).save();
    });
</script>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}


