@page
@model SparkAuto.Pages.Reports.IndexModel
@{ 
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml"; 
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <!--CARD-->
            <h1 class="text-body mb-3">Resume Data:</h1>
            <div class="card mb-4 lift">
                <div class="card-body">
                    <div class="row">
                        <div class="col align-self-center">
                            <i class="fa fa-wrench fa-2x mr-2"></i>
                        </div>
                        <div class="col-6">
                            <p class="text-muted m-0">Most Contracted Service</p>
                            <p class="m-0 text-primary">@Model.ReportsVM.mospopularservicename</p>
                        </div>
                        <div class="col-4 align-self-end">
                            <h1 class="text-primary text-right">@Model.ReportsVM.mostpopularservicecount</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD-->
            <div class="card mb-4 lift">
                <div class="card-body">
                    <div class="row">
                        <div class="col align-self-center">
                            <i class="fa fa-user-tag fa-2x mr-2"></i>
                        </div>
                        <div class="col-6">
                            <p class="text-muted m-0">Our Best Client</p>
                            <p class="m-0 text-success">@Model.ReportsVM.mostvalueclientname</p>
                        </div>
                        <div class="col-4 align-self-end">
                            <h1 class="text-success text-right">@(String.Format("${0:0.00}",Model.ReportsVM.mostvalueclientmoney))</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card lift">
                        <div class="card-body">
                            <i class="fa fa-calendar-day d-block text-center fa-2x"></i>
                            <span class="text-center text-muted d-block mt-2">Sales Today</span>
                            <h2 class="text-orange text-center">@(String.Format("${0:0.00}",Model.ReportsVM.totaltoday))</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card lift">
                        <div class="card-body">
                            <i class="fa fa-calendar d-block text-center fa-2x"></i>
                            <span class="text-center text-muted d-block mt-2">Sales Month</span>
                            <h2 class="text-cyan text-center">@(String.Format("${0:0.00}",Model.ReportsVM.totalmonth))</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-8">
            <h1 class="text-body mb-3">Graphic Data:</h1>
            <div class="card">
                <div class="card-header bg-white">
                    <form action="" method="get" class="row">
                        <div class="col-6 offset-5">
                            <select name="graphtype" class="form-control form-control-solid">
                                <option value="1">Services Graph</option>
                                <option value="2" selected>Daily Earnings</option>
                            </select>
                        </div>
                        <div class="col">
                            <button class="btn btn-icon btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="card-body mt-4">
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>


<!--INPUTS FOR BIND DATA ON JS-->
<input type="hidden" id="db_labels" value="@Model.ReportsVM.graphlabels">
<input type="hidden" id="db_values" value="@Model.ReportsVM.graphvalues">
<input type="hidden" id="db_axislabel" value="@Model.ReportsVM.axislabel">
<input type="hidden" id="db_graphtype" value="@Model.ReportsVM.type.ToString()">



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script>
    var ctx = document.getElementById("myChart");
    var dblabels = document.getElementById("db_labels").value.toString().split(",");
    var dbvalues = document.getElementById("db_values").value.toString().split(",");
    var axislabel = document.getElementById("db_axislabel").value.toString().split(",");
    var graphtype = document.getElementById("db_graphtype").value.toString().split(",");



    var myChart = new Chart(ctx, {
        type: graphtype,
        data: {
            labels: dblabels,
            datasets: [{
                label: axislabel,
                data: dbvalues,
                backgroundColor: chartbgcolors(dbvalues.length)
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true,
                labels: {
                    position: 'top'
                }
            }
        }
    });

    function chartbgcolors(n){
        var bg = [];
        for(var i = 0; i < n; i++){
            var r = Math.floor((Math.random()*255)+1);
            var g = Math.floor((Math.random()*255)+1);
            var b = Math.floor((Math.random()*255)+1);
            bg.push('rgba(' + r + "," + g + "," + b + ",0.8)");
        }
        return bg;
    }
   

</script>