@page
@model SparkAuto.Pages.Reports.IndexModel
@using SparkAuto.Models.ViewModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";


    try
    {
        ViewData["invoicegraph"] = (int)ViewData["invoicegraph"] == 0 ? Model.ReportsVM.facturas[0].Id : (int)ViewData["invoicegraph"];
    }
    catch
    {
        ViewData["invoicegraph"] = 0;
    }
    finally
    {

    }

}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!--CARDS-->
            <div class="row">

                <div class="col">
                    <div class="card card-icon lift">
                        <div class="row no-gutters">
                            <div class="col-auto card-icon-aside bg-orange">
                                <i class="fa fa-wrench d-block text-white"></i>
                            </div>
                            <div class="col ml-4 align-self-center">
                                <span class="text-muted small d-block mt-2">Most Contracted Service:</span>
                                <p class="m-0 text-orange ">@Model.ReportsVM.mospopularservicename</p>
                                <h2 class="text-orange ">@Model.ReportsVM.mostpopularservicecount</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-icon lift">
                        <div class="row no-gutters">
                            <div class="col-auto card-icon-aside bg-green">
                                <i class="fas fa-user-tag d-block text-white"></i>
                            </div>
                            <div class="col ml-4 align-self-center">
                                <span class="text-muted small d-block mt-2">Our Best Client:</span>
                                <p class="m-0 text-green ">@Model.ReportsVM.mostvalueclientname</p>
                                <h2 class="text-green ">@(String.Format("${0:0.00}",Model.ReportsVM.mostvalueclientmoney))</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-icon lift">
                        <div class="row no-gutters">
                            <div class="col-auto card-icon-aside bg-cyan">
                                <i class="fas fa-calendar-day d-block text-white"></i>
                            </div>
                            <div class="col ml-4 align-self-center">
                                <span class="text-muted small d-block mt-2">Sales Today:</span>
                                <p class="m-0 text-cyan ">@DateTime.Now.ToString("dd/MM/yyyy")</p>
                                <h2 class="text-cyan ">@(String.Format("${0:0.00}",Model.ReportsVM.totaltoday))</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-icon lift">
                        <div class="row no-gutters">
                            <div class="col-auto card-icon-aside bg-indigo">
                                <i class="fa fa-calendar d-block text-white"></i>
                            </div>
                            <div class="col ml-4 align-self-center">
                                <span class="text-muted small d-block mt-2">Sales Month:</span>
                                <p class="m-0 text-indigo ">@DateTime.Now.ToString("MMMM")</p>
                                <h2 class="text-indigo ">@(String.Format("${0:0.00}",Model.ReportsVM.totalmonth))</h2>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

    <!--TABLA DE VEHICULOS-->
    <div class="row mt-5">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <form action="" method="GET">
                        <div class="row">
                            <div class="col-3 align-self-end">
                                <div class="form-group m-0">
                                    <input type="text" class="form-control form-control-solid" placeholder="Client Name" asp-for="search.username">
                                </div>
                            </div>
                            <div class="col-2 align-self-end">
                                <div class="form-group m-0">
                                    <input type="text" class="form-control form-control-solid" placeholder="Plate Number" asp-for="search.plate">
                                </div>
                            </div>
                            <div class="col-2 align-self-end">
                                <div class="form-group m-0">
                                    <input type="text" class="form-control form-control-solid" placeholder="Car Model" asp-for="search.model">
                                </div>
                            </div>
                            <div class="col-2 align-self-end">
                                <input type="date" class="form-control form-control-solid" asp-for="search.initdate">
                            </div>
                            <div class="col-2 align-self-end">
                                <input type="date" class="form-control form-control-solid" asp-for="search.enddate">
                            </div>
                            <div class="col-1 align-self-center">
                                <button type="submit" class="btn btn-icon btn-primary"><i class="fa fa-search"></i></button>
                                <a href="#" class="btn btn-icon btn-dark" id="btnPrintTable"><i class="fa fa-print"></i></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body p-0">

                    <div class="row px-4 pt-4">
                        <div class="col-10 align-self-center">
                            <p class="font-weight-bold m-0">Showing @Model.ReportsVM.facturas.Count records</p>
                        </div>
                        <div class="col-2">
                            <form action="" method="GET">
                                <input type="hidden" value='@ViewData["plate"]' asp-for="@Model.search.plate">
                                <input type="hidden" value='@ViewData["model"]' asp-for="@Model.search.model">
                                <input type="hidden" value='@ViewData["username"]' asp-for="@Model.search.username">
                                <input type="hidden" value='@ViewData["initdate"]' asp-for="@Model.search.initdate">
                                <input type="hidden" value='@ViewData["enddate"]' asp-for="@Model.search.enddate">
                                <select asp-for="@Model.search.maxrows" class="form-control" onchange="this.form.submit()">
                                    <option value="10">10 Records</option>
                                    <option value="25">25 Records</option>
                                    <option value="50">50 Records</option>
                                    <option value="100">100 Records</option>
                                </select>
                            </form>
                        </div>
                    </div>

                    <div id="printArea" class="p-4">
                        <table class="table table-bordered table-sm table-hover">
                            @{double suma = 0;}
                            <tr>
                                <th class="fit">Invoice Id</th>
                                <th>Client</th>
                                <th>Service Date</th>
                                <th>Car Plate</th>
                                <th>Car Model</th>
                                <th>Car Make</th>
                                <th>Full Price</th>
                                <th class="td-center fit">View Graph</th>
                            </tr>
                            @foreach (var item in @Model.ReportsVM.facturas)
                            {
                                suma += item.FullPrice;

                                <tr>
                                    <td class="fit"># @(item.Id)</td>
                                    <td>@item.Car.ApplicationUser.Name</td>
                                    <td>@item.DateAdded.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Car.VIN</td>
                                    <td>@item.Car.Model</td>
                                    <td>@item.Car.Make</td>
                                    <td>@(String.Format("${0:0.00}",item.FullPrice))</td>
                                    <td class="td-center fit">
                                        <form action="" method="GET">
                                            <input type="hidden" value='@ViewData["plate"]' asp-for="@Model.search.plate">
                                            <input type="hidden" value='@ViewData["model"]' asp-for="@Model.search.model">
                                            <input type="hidden" value='@ViewData["username"]' asp-for="@Model.search.username">
                                            <input type="hidden" value='@ViewData["initdate"]' asp-for="@Model.search.initdate">
                                            <input type="hidden" value='@ViewData["enddate"]' asp-for="@Model.search.enddate">
                                            <input type="hidden" asp-for="@Model.search.invoicegraph" value="@item.Id">
                                            <button type="submit" class="btn btn-xs btn-icon btn-primary"><i class="fa fa-analytics"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            @if (@Model.ReportsVM.facturas.Count == 0)
                            {
                                <tr>
                                    <th colspan="8" class="text-center">No matching records found</th>
                                </tr>
                            }
                            <tr>
                                <th colspan="6" class="bg-green-soft">Total Full Prices</th>
                                <th class="bg-green-soft text-success">@(String.Format("${0:0.00}",suma))</th>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="card-footer bg-white">
                    @if ((int)ViewData["invoicegraph"] != 0)
                    {
                        <h1 class="mt-0 mb-4">Invoice Id: # @ViewData["invoicegraph"]</h1>
                        <div class="row">
                            <div class="col-4">
                                <div class="p-2 border rounded-lg">
                                    <canvas id="Canvas2" width="100" height="100"></canvas>
                                </div>
                            </div>
                            <div class="col-7 offset-1">
                                <div class="p-2 border rounded-lg">
                                    <canvas id="Canvas3" width="300" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </div>

    <h1 class="text-body my-4">Graphic Data:</h1>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <p class="m-0">Purchased services</p>
                </div>
                <div class="card-body mt-4">
                    <input type="hidden" id="chart1_labels" value="@Model.chartitems[1].getLabels()">
                    <input type="hidden" id="chart1_values" value="@Model.chartitems[1].getValues()">
                    <input type="hidden" id="chart1_type" value="@Model.chartitems[1].getType()">
                    <input type="hidden" id="chart1_axis" value="@Model.chartitems[1].axislabel">
                    <canvas id="Canvas1" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <p class="m-0">Daily Eearnigns</p>
                </div>
                <div class="card-body mt-4">
                    <input type="hidden" id="chart4_labels" value="@Model.chartitems[0].getLabels()">
                    <input type="hidden" id="chart4_values" value="@Model.chartitems[0].getValues()">
                    <input type="hidden" id="chart4_type" value="@Model.chartitems[0].getType()">
                    <input type="hidden" id="chart4_axis" value="@Model.chartitems[0].axislabel">
                    <canvas id="Canvas4" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <div class="col-6 mt-4">
            <div class="card">
                <div class="card-header bg-white">
                    <p class="m-0">Future Appointments</p>
                </div>
                <div class="card-body mt-4">
                    <input type="hidden" id="chart5_labels" value="@Model.chartitems[2].getLabels()">
                    <input type="hidden" id="chart5_values" value="@Model.chartitems[2].getValues()">
                    <input type="hidden" id="chart5_type" value="@Model.chartitems[2].getType()">
                    <input type="hidden" id="chart5_axis" value="@Model.chartitems[2].axislabel">
                    <canvas id="Canvas5" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

    </div>

</div>


@{

    try
    {

        ServiceHeader serviceHeader = Model._db.ServiceHeader.Find((int)ViewData["invoicegraph"]);
        List<ServiceHeader> facturasAuto = Model._db.ServiceHeader.Where(x => x.CarId == serviceHeader.CarId).ToList();
        List<ServiceType> serviciosExistentes = Model._db.ServiceType.ToList();
        List<ServiceDetails> serviciosComprados = Model._db.ServiceDetails.Where(x => x.ServiceHeaderId == (int)ViewData["invoicegraph"]).ToList();

        //LABELS

        /*foreach(var ser in serviciosExistentes){
            labels1 += ser.Name + ",";
        }*/


        //VALUES
        string values1 = "";
        string labels1 = "";
        foreach (var ser in serviciosComprados)
        {
            labels1 += ser.ServiceName + ",";
            values1 += ser.Quantity + ",";
        }
        values1 = values1.Substring(0, values1.Length - 1);
        labels1 = labels1.Substring(0, labels1.Length - 1);

        <input type="hidden" id="facservices_labels" value="@labels1">
        <input type="hidden" id="facservices_values" value="@values1">


        //LABELS 2
        string labels2 = "";
        string values2 = "";
        foreach (var fact in facturasAuto)
        {
            labels2 += fact.DateAdded.Date.ToString("dd/MM/yyyy") + ",";
            values2 += Math.Round(fact.FullPrice) + ",";
        }
        labels2 = labels2.Substring(0, labels2.Length - 1);
        values2 = values2.Substring(0, values2.Length - 1);
        <input type="hidden" id="facturas_labels" value="@labels2">
        <input type="hidden" id="facturas_values" value="@values2">



    }
    catch (Exception e)
    {
        Console.WriteLine(e);
    }
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="~/js/reportscharts-general.js"></script>

@section Scripts{
    <script>
        $("#btnPrintTable").on("click", function () {
            const area = document.getElementById("printArea");
            var opt = {
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
                filename: "report.pdf"
            };
            html2pdf().set(opt).from(area).save();
        })
    </script>
}