@page
@model SparkAuto.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header class="page-header bg-primary pb-10">
    <div class="container py-4">
        <div class="row">
            <div class="col-8 align-self-end">
                <h1 class="text-white mt-5">Customer List</h1>
                <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-outline-white rounded-pill mt-2">
                    <i class="fal fa-plus"></i>&nbsp;Create New Customer
                </a>
            </div>
            <div class="col-4">
                <img src="~/images/undraw/grua.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</header>




<div class="container mt-n10">
    <form method="get" asp-page="Index">
        <div class="card p-5 mt-4">
            <div class="row">
                <div class="col-12 col-md-11">
                    <div class="row" style="padding-top:10px">
                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            @Html.Editor("searchPlate", new { htmlAttributes = new { @class = "form-control",
                                        placeholder = "Plate Number..." } })
                        </div>
                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control",
                                        placeholder = "Email..." } })
                        </div>
                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", placeholder
                            = "Name..." } })
                        </div>
                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control",
                                        placeholder = "Phone..." } })
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1 align-self-end text-right">
                    <button type="submit" name="submit" value="Search" class="btn btn-indigo btn-icon">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

            <hr />

            <div>
                <table class="table table-bordered table-responsive" style="width: 100%;">
                    <tr class="">
                        <th class="text-indigo">
                            @Html.DisplayNameFor(m => m.UsersListVM.ApplicationUserList[0].Name)
                        </th>
                        <th class="text-indigo">
                            @Html.DisplayNameFor(m => m.UsersListVM.ApplicationUserList[0].PhoneNumber)
                        </th>
                        <th class="text-indigo">
                            @Html.DisplayNameFor(m => m.UsersListVM.ApplicationUserList[0].Email)
                        </th>
                        <th>SMS</th>
                        <th>Cars</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var item in Model.UsersListVM.ApplicationUserList)
                    {

                        <tr role="row" >
                            <td class="fit">
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td class="fit">
                                @Html.DisplayFor(m => item.PhoneNumber)
                            </td>
                            <td class="fit">
                                @Html.DisplayFor(m => item.Email)
                            </td>
                            <td class="fit">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="@(item.Id)SMSCheck" type="checkbox" checked="true">
                                    <label class="custom-control-label" for="@(item.Id)SMSCheck">Send SMS</label>
                                </div>
                            </td>
                            <td class="fit">
                                <a asp-page="../Cars/Index" asp-route-userId="@item.Id"
                                    class="d-block btn btn-indigo rounded-pill btn-sm">
                                    <i class="fas fa-car"></i> &nbsp; View Cars
                                </a>
                            </td>
                            
                            <td class="fit">
                                <a class="btn btn-primary btn-sm rounded-pill px-3" asp-page="Edit" asp-route-Id="@item.Id">
                                    <i class="fas fa-edit mr-2"></i> Edit
                                </a>
                                <a class="btn btn-danger btn-sm rounded-pill px-3" asp-page="Delete"
                                    asp-route-Id="@item.Id">
                                    <i class="fal fa-times mr-2"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                    @if (Model.UsersListVM.ApplicationUserList.Count == 0)
                    {
                        <td class="fit" colspan="5">No matching results found</td>
                    }
                </table>
                <div page-model="@Model.UsersListVM.PagingInfo" asp-action="Index" page-class="btn border"
                    page-class-normal="btn btn-light btn-icon btn-sm mr-1" page-class-selected="btn btn-icon btn-indigo btn-sm active mr-1"
                    class="">
                </div>
            </div>
        </div>
    </form>
</div>